NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GITHUB_ID=
GITHUB_SECRET=

EMAIL_SERVER_USER=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=

DB_USER=
DB_PASSWORD=

DATABASE_URL=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_DOMAIN=

; FACEBOOK_ID=
; FACEBOOK_SECRET=

; GITHUB_ID=
; GITHUB_SECRET=

; GOOGLE_ID=
; GOOGLE_SECRET=

; TWITTER_ID=
; TWITTER_SECRET=


